/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* wallust-wlogout */

/* Importing wallust colors */
@define-color foreground #FDF9FE;
 @define-color background #17141C;
 @define-color background-alt rgba(23,20,28,0.25);
 @define-color cursor #B5AEBF;
 
 @define-color color0 #3E3B44;
 @define-color color1 #3F2F72;
 @define-color color2 #514960;
 @define-color color3 #7B47AA;
 @define-color color4 #7B7485;
 @define-color color5 #BBB3BD;
 @define-color color6 #BBB3BD;
 @define-color color7 #F4EEF5;
 @define-color color8 #AAA7AC;
 @define-color color9 #543F98;
 @define-color color10 #6C6280;
 @define-color color11 #A45EE3;
 @define-color color12 #A59AB1;
 @define-color color13 #F9EEFC;
 @define-color color14 #F9EEFC;
 @define-color color15 #F4EEF5; 

window {
    font-size: 24pt;
    color: @foreground; /* text */
    background-color: rgba(30, 30, 46, 0.8);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: rgba(200, 220, 255, 0);
    animation: gradient_f 10s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 80px;
	border:0px;
	outline-style: none;
}

button:focus {
    background-size: 25%;
	border: 0px;
	outline-style: none;

}

button:hover {
    background-color: transparent; 
    color: @color13;
    background-size: 50%;
    margin: 30px;
    border-radius: 80px;
    outline-style: none;
	
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}


#lock {
    background-image: image(url("./icons/lock.png"));
}
/*#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}*/

#logout {
    background-image: image(url("./icons/logout.png"));
}
/*#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}*/

#suspend {
    background-image: image(url("./icons/sleep.png"));
}
/*#suspend:hover {
    background-image: image(url("./icons/sleep-hover.png"));
}*/

#shutdown {
    background-image: image(url("./icons/power.png"));
}
/*#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}*/

#reboot {
    background-image: image(url("./icons/restart.png"));
}
/*#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}*/

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
/*#hibernate:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
}*/
